* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-image: linear-gradient(to  top,
      hsla(110, 93%, 47%, 0.7), rgba(8, 8, 6,0.5)),
    url(../img/aboutme.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
