* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wraper {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  height: 100%;
  width: 100%;
  margin-top: auto;
  font-family: Verdana;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /*  background-attachment: fixed;fajny styl*/
  background: linear-gradient(to left, rgba(232, 238, 241, 0.5),
      rgba(18, 22, 23, 0.7)), url(../img/waterfall.jpg);
background-position: center;
background-size: cover;
}

.dog {
  z-index: -1;
  display: flex;
  list-style: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: auto;
  justify-content: space-around;
  /*rozklada na oddzielne slowa rodziela i horyzont*/
  align-items: center;
  flex-direction: column;
  /*centruje w danym panelu*/
}

.dog li a {
  color: white;
  text-decoration: none; // pozbycie sie podkreslenia linku
  font-size: 16px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom,
      rgba(0, 191, 255, 0.9), rgba(40, 178, 220, 0.7)),
    url(../img/moutnains.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.sectionforcards {
  height: 100vh;
  background-image: linear-gradient(to right top,
      rgba(0, 191, 255, 0.9), rgba(40, 178, 220, 0.7)),
    url(../img/moutnains.jpeg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  clip-path: polygon(0 10%, 100% 20%, 100% 85%, 0 100%);
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.row {
  padding: auto;
  justify-content: space-around;
  height: 35%;
  flex-direction: row;
  background-color: transparent;
  display: flex;
  list-style: none;
  position: absolute;
  top: 35%;
  width: 100%;
  column-span: all;
}

.column {
  padding: auto;
  height: 100%;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  background-size: cover;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 10px 70px rgb(235, 241, 235);
}

.first {

  display: list-item;
  height: 100%;
  padding-top: 45%;
  background-image: linear-gradient(to top,
      rgb(15, 226, 226, 0.5), rgb(255, 255, 255, 0.6)),
    url(../img/shellim.jpeg);
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.second {
  height: 100%;
  padding-top: 45%;
  background-image: linear-gradient(to top,
      rgb(15, 226, 226, 0.5), rgb(255, 255, 255, 0.6)),
    url(../img/network.jpeg);
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  align-items: center;
  text-transform: translateY(50px);
  background-position: top;
}

.third {
  height: 100%;
  padding-top: 45%;
  background-image: linear-gradient(to top,
      rgb(15, 226, 226, 0.5), rgb(255, 255, 255, 0.6)),
    url(../img/aisd.png);
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  align-items: center;
  text-transform: translateY(50px);
}

.fourth {
  height: 100%;
  padding-top: 45%;
  background-image: linear-gradient(to top,
      rgb(15, 226, 226, 0.5), rgb(255, 255, 255, 0.6)),
    url(../img/compiler.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  align-items: center;
  text-transform: translateY(50px);
}

.fifth {
  height: 100%;
  padding-top: 45%;
  background-image: linear-gradient(to top,
      rgb(15, 226, 226, 0.5), rgb(255, 255, 255, 0.6)),
    url(../img/chineese-checkers.png);
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  align-items: center;
  text-transform: translateY(50px);
}

.column:hover {
  transition: all .3s;
  transform: translateY(-10px);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, .4);
}

.logo-box {
  opacity: 0.2;
  position: absolute;
  top: 15px;
  left: 20px;
}

.logo {
  height: 50px;
  border-radius: 25px;
}

.text-box {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  width: 100%;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 50px;
}

.heading-primary-main {
  width: 100%;
  display: block;
  font-size: 10vh;
  font-weight: 400;
  letter-spacing: 25px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  width: 100%;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 24px;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  animation: showingOn 1.5s ease-out;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}

.btn:active,
.nav-link:active {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translateY(-1px);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scale(1.4);
  opacity: 0;
}

.btn-animated {
  animation: showingOn .5s ease-out .75s animation-fill-mode:backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(+100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(270deg);
  }

  100% {
    0% {
      transform: rotate(180deg);
    }
  }
}

@keyframes showingOn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen {
  .line {
    width: 30px;
    height: 4px;
    background: white;
    margin: 3px;
  }

  .hamburger {
    animation: showingOn 1s ease-out;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 8%;
    -webkit-transform: translate(-5%, -50%);
    z-index: 2;
  }

  .dog {
    zoom: 1;
    position: fixed;
    background: linear-gradient(rgba(12, 28, 33, 0.9),
        rgba(40, 178, 220, 0.95));
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 93% 8%);
    -webkit-clip-path: circle(0px at 93% 8%);
    -webkit-animation-delay: 1s;
    -webkittransition: all 1s ease-out;
    text-transform: uppercase;
    z-index: 1;
  }

  .dog.open {
    -webkit-animation-delay: 1s;
    zoom: 1;
    clip-path: circle(150vh at 90% 0%);
    -webkit-clip-path: circle(150vh at 90% 0%);
  }
}
