$colors:( "hglght":#333, "bcg-dark":rgb(20, 20, 20), "white":rgb(255, 255, 255));
$darkHighlight:rgba(85, 85, 85, 1);
$mobileBorderColor:rgba(136, 144, 189, 0.23);
$wheat:rgb(245, 222, 179);
$red:rgb(255, 0, 0);
$readmeBackgroundColor:#E0E6E5;
$noneColor:#ffffff;