$standardFontSize:4vw;
$standardFontFamily:Ubuntu,
"times new roman",
times,
roman,
serif;
$ubuntuDefaultFontSize:calc(0.75em + 1vmin);
$transBackwards:translate(-50%, -50%);
$halfStraightRotateForward:rotate(45deg);
$halfStraightRotateBackwards:rotate(-45deg);
$standardPadding:15px;