/**mobile**/
body, html {
  /*min-width:600px;*/
  /*min-height: 300px;*/
  overflow: auto;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  font-size: calc(0.75em + 1vmin);
  bottom: 0;
}

.column {
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

/********** menu/ navigation [HEADER]*********/
#menu {
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  position: relative;
}

#menu-links {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#menu-icon {
  cursor: pointer;
  margin-right: 15px;
  height: 100%;
  min-width: 30px;
  width: 50px;
}

#menu-logo-a {
  display: inline-block;
  line-height: 1;
}

#menu-logo-img {
  margin-left: 2%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#menu .link {
  text-align: center;
  background-color: rgb(20, 20, 20);
  padding: 20px 24px;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  font-size: 4vw;
  display: block;
  color: white;
}

#menu .link:hover, .link:active {
  background-color: #333;
}

#menu-header {
  clear: both;
  height: 100px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.hamburger-rect {
  fill: rgb(255, 255, 255);
  width: 100px;
  height: 20px;
}

/******************** image **********************/
#avatar-cropper {
  overflow: hidden;
  border-radius: 50vw;
  margin: 0 auto;
  height: 60vw;
  width: 60vw;
}

#avatar {
  display: table;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

/****************** intro ********************/
#intro {
  text-align: center;
}

/************ auxiliary classes **************/
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-header {
  font-size: 4.0vw;
}

/****************** it-interests ********************/
#it-interests-container {
  margin-top: 20vw;
  background-color: rgb(20, 20, 20);
}

#it-interests {
  color: white;
}

#it-interests-text-container {
  font-size: 3.2vw;
  padding-top: 10%;
  padding-bottom: 20rem;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.interests-title {
  font-size: 3.5vw;
}

/****************** skills ********************/
#skills-overlay {
  border-radius: 30px;
  border-color: rgba(136, 144, 189, 0.23);
  border-width: 3px;
  border-style: solid;
  top: -16rem;
  position: relative;
  background: white;
  color: #141c3a;
}

.skills-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 3.5vw;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.skills-list ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.skills-header {
  text-align: center;
  font-size: 4.0vw;
}

.skills-subheader {
  text-align: center;
  font-size: 3.0vw;
}

.skills-element {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.move-up {
  margin-bottom: -10rem;
}

.last-skills-element {
  padding-bottom: 4rem;
}

/**************** projects ******************/
#projects {
  box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
  display: flex;
  flex-direction: column;
}

#projects a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  background-color: white;
  height: 50vw;
}

#projects-container {
  position: relative;
}

#project-img {
  height: 70vw;
  background-size: cover;
  width: 100%;
}

#project-href {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: 4vw;
  padding: 5vw 10vw;
  border: none;
  cursor: pointer;
  border-radius: 1vw;
}

#project-href:hover, #project-href:active {
  background-color: rgba(85, 85, 85, 1);
}

.arrow {
  border: solid white;
  border-width: 0 2vw 2vw 0;
  display: inline-block;
  padding: 2.0vw;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#project-left-arrow {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

#project-right-arrow {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

/**************** contact ******************/
#contact {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#contact-references-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.contact-reference {
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
  margin-top: 2vw;
  height: 10vw;
  border-radius: 1vw;
  width: 100%;
  background: rgb(20, 20, 20);
  display: flex;
  line-height: 1;
}

.contact-reference-img {
  height: 80%;
  object-fit: contain;
}

.contact-reference:hover, .contact-reference:active {
  background-color: rgba(85, 85, 85, 1);
}

@media screen and (min-width: 1150px) {

  /*----- menu -----*/
  #menu-header {
    height: 40px;
  }

  #menu-icon {
    transform: scale(0.5);
  }

  #menu .link {
    font-size: 2vw;
  }

  /* avatar section */
  #intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #avatar-cropper {
    height: 20vw;
    width: 20vw;
  }

  #intro-container {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #it-interests-text-container {
    padding-top: 0%;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 2vw;
  }

  #it-interests {
    width: 100%;
  }

  #it-interests-container {
    margin-top: 5vw;
  }

  #it-interests-container .column {
    margin-left: 4%;
    margin-right: 4%;
  }

  .interests-title {
    font-size: 1.5vw;
  }

  .section-header {
    font-size: 2vw;
  }

  /* skills */
  .skills-header {
    font-size: 1.5vw;
  }

  .skills-subheader {
    font-size: 1.1vw;
  }

  .skills-list {
    font-size: 1.0vw;
  }

  /* projects */
  #project-img {
    height: 90vh;
  }

  /*contact*/
  #contact-references-container {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    border: solid;
    border-radius: 30px;
    border-color: rgba(136, 144, 189, 0.23);
    border-width: 3px;
    padding-bottom: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
  }
}
