body {
  background-color: white;
}

/* ----------------projects content----------------------*/
#projects-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.down-right-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background: rgb(20, 20, 20);
  clip-path: polygon(100% 53%, 0% 100%, 100% 100%);
  z-index: -1;
}

.up-left-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background: rgb(20, 20, 20);
  clip-path: polygon(100% 0, 0 36%, 0 0);
  z-index: -1;
}

/* ----------------project object----------------------*/
.project-object {
  position: relative;
  border-radius: 2vw;
  cursor: pointer;
  margin-top: 8vw;
  margin-bottom: 8vw;
  height: 40vw;
}

.project-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

.project-object-img {
  margin: 0;
  position: absolute;
  border-radius: 2vw;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
}

.project-object-img-overlay {
  border-radius: 2vw;
  margin: 0;
  position: absolute;
  z-index: 2;
  background: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-object-name {
  opacity: 1.5;
  text-align: center;
  font-size: 5vw;
  z-index: 3;
  padding: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  object-fit: contain;
}

.project-info {
  top: -5rem;
  font-size: 3vw;
  transition: 1s;
  display: flex;
  object-fit: contain;
  max-height: 0;
  position: relative;
  visibility: collapse;
  overflow: hidden;
  border-radius: 30px;
  border-color: rgba(136, 144, 189, 0.23);
  border-width: 3px;
  border-style: solid;
  background-color: #E0E6E5;
}

.text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2vw;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  padding-top: 4rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2rem;
  overflow: auto;
}

.readme {
  min-height: 50vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.readme pre, code {
  overflow: auto;
  max-width: 80%;
}
